name: Discord Push Notifier

on:
  push:
    branches:
      - main
      - qa
      - dev

jobs:
  notify:
    runs-on: ubuntu-latest
    steps:
      - name: Discord Webhook Notify
        uses: tsickert/discord-webhook@v2
        with:
          webhook-url: ${{ secrets.DISCORD_WEBHOOK }}
          content: |
            **Push Notification**
            Repository: ${{ github.repository }}
            Branch: ${{ github.ref_name }}
            Author: ${{ github.actor }}
            Commit: ${{ github.event.head_commit.message }}
            Commit SHA: ${{ github.sha }}
            URL: https://github.com/${{ github.repository }}/commit/${{ github.sha }}