name: Discord Push Notifier

on:
  push:
    branches:
      - main
      - qa
      - dev

jobs:
  notify:
    runs-on: ubuntu-latest
    steps:
      - name: Discord Notification
        uses: rtCamp/action-discord-notify@v2
        env:
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
          DISCORD_USERNAME: "GitHub Actions"
          DISCORD_MESSAGE: |
            **Push Notification**
            Repository: ${{ github.repository }}
            Branch: ${{ github.ref_name }}
            Author: ${{ github.actor }}
            Commit: ${{ github.event.head_commit.message }}
            Commit SHA: ${{ github.sha }}
            URL: https://github.com/${{ github.repository }}/commit/${{ github.sha }}
