name: Discord Push Notifier

on:
  push:
    branches:
      - main
      - qa
      - dev
  pull_request:
    branches:
      - main
      - qa
      - dev

jobs:
  notify:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Get commit message
        id: commitmsg
        run: |
          echo "message<<EOF" >> $GITHUB_OUTPUT
          git log -1 --pretty=%B >> $GITHUB_OUTPUT
          echo "EOF" >> $GITHUB_OUTPUT
      - name: Discord Webhook Notify (Push)
        if: github.event_name == 'push'
        uses: tsickert/discord-webhook@v7.0.0
        with:
          webhook-url: ${{ secrets.DISCORD_WEBHOOK }}
          embed-title: 'Push: ${{ github.ref_name }}'
          embed-description: |
            Commit: ${{ github.sha }}
            Branch: ${{ github.ref_name }}
            Message: ${{ steps.commitmsg.outputs.message }}
          embed-color: '3066993'
          embed-footer: 'GitHub Actions Notification'
          embed-url: 'https://github.com/${{ github.repository }}/commit/${{ github.sha }}'
          embed-author-name: '${{ github.actor }}'
          embed-author-url: 'https://github.com/${{ github.actor }}'
          embed-author-icon: 'https://github.com/${{ github.actor }}.png'

      - name: Discord Webhook Notify (Pull Request)
        if: github.event_name == 'pull_request'
        uses: tsickert/discord-webhook@v7.0.0
        with:
          webhook-url: ${{ secrets.DISCORD_WEBHOOK }}
          embed-title: 'Pull Request: #${{ github.event.pull_request.number }} - ${{ github.event.pull_request.title }}'
          embed-description: |
            PR by: ${{ github.event.pull_request.user.login }}
            Branch: ${{ github.ref_name }}
            Description: ${{ github.event.pull_request.body }}
            Commit: ${{ github.sha }}
          embed-color: '3447003'
          embed-footer: 'GitHub Actions Notification'
          embed-url: '${{ github.event.pull_request.html_url }}'
          embed-author-name: '${{ github.actor }}'
          embed-author-url: 'https://github.com/${{ github.actor }}'
          embed-author-icon: 'https://github.com/${{ github.actor }}.png'
      
