name: Discord Push Notifier

on:
  push:
    branches:
      - main
      - qa
      - dev

jobs:
  notify:
    runs-on: ubuntu-latest
    steps:
      - name: Discord Webhook Notify
        uses: tsickert/discord-webhook@v7.0.0
        with:
          webhook-url: ${{ secrets.DISCORD_WEBHOOK }}
          embed-title: 'New Push to ${{ github.ref }}'
          embed-description: 'A new push has been made to the ${{ github.ref }} branch.'
          embed-color: '3066993'
          embed-footer: 'GitHub Actions Notification'
          embed-timestamp: true
          embed-url: 'https://github.com/${{ github.repository }}/commit/${{ github.sha }}'
          embed-author-name: '${{ github.actor }}'
          embed-author-url: 'https://github.com/${{ github.actor }}'
          embed-author-icon: 'https://github.com/${{ github.actor }}.png'
          
